body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #ffffff;
}

.divider {
    border-top: solid #2e2e2e 1px;
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.container{
    max-width: 90vw;
    margin: auto;
}

section{
    margin-top: 1.5rem;
}

h2 {
    text-align: center;
    font-weight: 300;
}

.h-section{
    gap:15px;
    margin: auto;
}

.about-header{
    text-align: center;
    background-color: #00abc9;
}

.about-section {
    font-weight: 300;
}

.card, .card-title {
    background-color: #00abc9;
    font-weight: 300;
    border-color: #ffffff;
}

.btn-info{
    background-color: #00abc9;
}

footer {
    background-color: #00abc9;
    font-weight: 300;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 1.5rem;
}

footer a{
    color: #ffffff;
}

footer a:hover{
    color: #003144;
}

.container-footer {
    max-width: 75vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
}